name: Docker Image CI

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Unit test
        run: ./gradlew clean test
      - name: Integration test
        run: ./gradlew clean integrationTest
